
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<hr />
<h2 style="text-align:center;">İSTATİSTİKLER</h2>
<hr />
<br />
<br />

<div class="row">
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.k1</h3>

                <p style="font-size:15px;">Kategori Sayısı</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-black">
            <div class="inner">
                <h3>@ViewBag.b1</h3>

                <p style="font-size:15px;">Başlık Sayısı</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>@ViewBag.kbf1</h3>

                <p style="font-size:15px;">En fazla başlığın bulunduğu kategori</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>
    <!-- ./col -->

    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>@ViewBag.y1</h3>

                <p style="font-size:15px;">Yazar Sayısı</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-teal">
            <div class="inner">
                <h3>@ViewBag.yaz1</h3>

                <p style="font-size:15px;">Yazılım kategorisindeki toplam başlık</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <!--<div class="col-lg-3 col-6">-->
        <!-- small box -->
        <!--<div class="small-box bg-gradient-teal">
            <div class="inner">
                <h3>@ViewBag.yaz2</h3>

                <p style="font-size:15px;">Eğitim kategorisindeki toplam başlık</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>-->
    <!-- ./col -->
    <!-- ./col -->
    <!--<div class="col-lg-3 col-6">-->
        <!-- small box -->
        <!--<div class="small-box bg-gradient-teal">
            <div class="inner">
                <h3>@ViewBag.yaz3</h3>

                <p style="font-size:15px;">Tiyatro kategorisindeki toplam başlık</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>-->
    <!-- ./col -->
    <!-- ./col -->
    <!--<div class="col-lg-3 col-6">-->
        <!-- small box -->
        <!--<div class="small-box bg-gradient-teal">
            <div class="inner">
                <h3>@ViewBag.yaz4</h3>

                <p style="font-size:15px;">Kitap kategorisindeki toplam başlık</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>-->
    <!-- ./col -->
    <!-- ./col -->
    <!--<div class="col-lg-3 col-6">-->
        <!-- small box -->
        <!--<div class="small-box bg-gradient-teal">
            <div class="inner">
                <h3>@ViewBag.yaz5</h3>

                <p style="font-size:15px;">Spor kategorisindeki toplam başlık</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>-->
    <!-- ./col -->
    <!-- ./col -->
    <!--<div class="col-lg-3 col-6">-->
        <!-- small box -->
        <!--<div class="small-box bg-gradient-teal">
            <div class="inner">
                <h3>@ViewBag.yaz6</h3>

                <p style="font-size:15px;">Film kategorisindeki toplam başlık</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>-->
    <!-- ./col -->
    <!-- ./col -->
    <!--<div class="col-lg-3 col-6">-->
        <!-- small box -->
        <!--<div class="small-box bg-gradient-teal">
            <div class="inner">
                <h3>@ViewBag.yaz7</h3>

                <p style="font-size:15px;">Teknoloji kategorisi toplam başlık</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>-->
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-maroon">
            <div class="inner">
                <h3>@ViewBag.yorum1</h3>

                <p style="font-size:15px;">En çok yorum yapılan başlık</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-gradient-olive">
            <div class="inner">
                <h3>@ViewBag.b1</h3>

                <p style="font-size:15px;">Bugün açılan başlık sayısı</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box badge-secondary">
            <div class="inner">
                <h3>@ViewBag.a1</h3>

                <p style="font-size:15px;">Yazar adında a harfi geçen yazar sayısı</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-navy">
            <div class="inner">
                <h3>@ViewBag.goster</h3>

                <p style="font-size:15px;">Kategori true-false farkı</p>
            </div>

            <a href="#" class="small-box-footer">More info </a>
        </div>
    </div>
    <!-- ./col -->

</div>

